<div class="newproduct-container">
    <h3 class="newproduct-title">Crear nuevo producto</h3>
    <div class="form-card container-fluid">
        <form class="product-form" id="product-form" onsubmit="createProduct(event)">
            <label for="title">Titulo</label>
            <input type="text" id="product-title" name="title" required>
            <label for="product-category">Categoria</label>
            <input type="text" id="product-category" name="category" required>
            <label for="product-description">Descripción</label>
            <input type="text" id="product-description" name="description" required>
            <label for="product-price">Precio</label>
            <input type="number" id="product-code" name="code" required>
            <label for="product-code">Code</label>
            <input type="number" id="product-price" name="price" required>
            <label for="product-price">Unidades disponibles</label>
            <input type="number" id="product-stock" name="stock" required>
            <input type="submit" value="Crear" class="newproduct-submit">
        </form>
    </div>
</div>

<script src="/statics/js/newProduct.js"></script>