<div class="recover-container">
    <h2 class="recover-title">Ingresa una nueva contraseña</h2>
    <div class="recover-form-container">
        <form id="new-password-form" class="recover-form">
            <div class="input-field">
                <label for="password-input">Nueva contraseña</label>
                <input id="password-input" type="password" class="validate" name="password">
            </div>
                <input type="text" name="token" value={{token}} readonly hidden>
                <input class="waves-effect waves-light btn-small recover-submit" type="submit" value="Guardar nueva contraseña">
        </form>
    </div>
</div>



<script src="/statics/js/newPasswordForm.js"></script>